[Unit]
Description=NANOOK
After=network.target

[Service]
Environment="HTTP_PORT=80" "I2C_BUS=hw:0" "MQTT=10.1.0.12"
WorkingDirectory=/opt/nanook-node
ExecStart=/usr/bin/node --inspect=0.0.0.0:9229 src/main.js

[Install]
WantedBy=multi-user.target
